<%= form_for [question, answer] do |f| %>
  <div class="field">
    <%= f.label :answer %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Answer Question" %>
  </div>
<% end %>
